extends:
  - airbnb
  - plugin:@typescript-eslint/recommended
  # - plugin:@typescript-eslint/recommended-requiring-type-checking
rules:
  import/extensions:
    - error
    - always # default
    - jsx: ignore
      js: ignore
      json: always
      ts: ignore
      tsx: ignore
  prefer-arrow-callback: off # i prefer named functions — how to inforce that ?
  no-underscore-dangle:
    - error
    - allow:
        - _id
  no-unused-vars:
    - error
    - argsIgnorePattern: ^_
      varsIgnorePattern: ^_
      destructuredArrayIgnorePattern: ^_
parser: "@typescript-eslint/parser"
plugins:
  - "@typescript-eslint"
settings:
  import/parsers:
    "@typescript-eslint/parser": [.ts, .tsx]
  import/resolver:
    typescript:
      alwaysTryTypes: true
