extends:
  - 'airbnb' 
rules:
  import/extensions:
    - error
    - always # default
    - jsx: always
      js: ignore
      json: always
      ts: always
  prefer-arrow-callback: off  # i prefer named functions — how to inforce that ?
  no-underscore-dangle:
    - error
    - allow: 
      - _id
  no-unused-vars:
    - error
    - argsIgnorePattern: ^_