extends:
  - airbnb
  - plugin:@typescript-eslint/recommended
  # - plugin:@typescript-eslint/recommended-requiring-type-checking
overrides: 
  - files:
    - *.test.*
  - plugins: [jest],
  - extends: [plugin:jest/recommended],
  - rules:  
     jest/prefer-expect-assertions: off
rules:
  import/extensions:
    - error
    - always # default
    - jsx: ignore
      js: ignore
      json: always
      ts: ignore
      tsx: ignore
  import/prefer-default-export: off
  prefer-arrow-callback: off # i prefer named functions — how to inforce that ?
  no-underscore-dangle: off
  no-unused-vars:
    - error
    - argsIgnorePattern: ^_
      varsIgnorePattern: ^_
      destructuredArrayIgnorePattern: ^_
  react/jsx-filename-extension:
    - error
    - extensions:
        - .jsx
        - .tsx
  # jest from jest-community/eslint-plugin-jest
  jest/no-disabled-tests: warn
  jest/no-focused-tests: error
  jest/no-identical-title: error
  jest/prefer-to-have-length: warn
  jest/valid-expect: error
parser: "@typescript-eslint/parser"
plugins:
  - "@typescript-eslint"
  - "jest"
settings:
  import/parsers:
    "@typescript-eslint/parser": [.ts, .tsx]
  import/resolver:
    typescript:
      alwaysTryTypes: true
env: 
  jest/globals: true
