rules:
  no-alert: off
  react-hooks/rules-of-hooks: error
  react-hooks/exhaustive-deps: warn
  react/jsx-filename-extension:
    - error
    - extensions:
        - .jsx
        - .tsx
env:
  browser: true
globals:
  react: true
plugins:
  - react-hooks
